<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/head.ejs')%>
  <title>
    GOLDRINK - Absolut Extrakt
</title>
<link rel="icon" type="image/png" href="D:\Joako\Documents\Programación FS\Proyecto-Integrador-DH\icon-Goldrink.png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/product-detail.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0" />
<script src="https://kit.fontawesome.com/c99fc80025.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- seccion barra de navegacion -->
    <header>
      <%- include('../partials/nav.ejs')%>
    </header>
  <!-- fin seccion barra de navegacion -->
  
  <% 
  const formatter = new Intl.NumberFormat("es-AR", { 
    style: "decimal",
    minimumFractionDigits: 2,
  }); 
  %>
   <!-- contenedor detalle de producto -->
   <div class="container__pd">
    <div class="pd__section">
        <div class="pd__img" id="zoomC">
          <img src="/img/productImg/<%= coincidencia.imagen_producto %>" alt="imagen del producto">
        </div>
        <div class="pd_center">
          <article class="pd__info">
            <h2><%= coincidencia.nombre_producto%></h2> <span></span>
            <p><span>AÑO COSECHA: </span> <%= coincidencia.anio_cosecha%>, <span> VARIEDAD: </span> <%= coincidencia.variedad%>, <span> CRIANZA: </span> <%= coincidencia.crianza%>, <span> POTENCIAL DE GUARDA: </span> <%= coincidencia.potencial_guarda%>.</p>
            <h3>NOTAS DE CATA</h3>
            <p><%= coincidencia.nota_cata%></p>
          </article>
            
            <form class="pd_buysection">
                <p><span>$ <%= formatter.format(coincidencia.precio)%></span></p>
                <!-- seleccion de producto- incremento y decremento -->
                <div>
                  <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
                  <input type="number" id="number" value="0" />
                  <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
                </div>
                <!-- fin seleccion de producto- incremento y decremento -->
                <div class="cart__btn">
                  <i class="fa-solid fa-cart-shopping"></i>
                  <a href="/product/product-cart/<%= coincidencia.id_producto%>">agregar al carrito</a>
                </div>
            </form>
        </div>
    </div>
  </div>
  <!-- fin del contenedor detalle de producto -->

  <!-- footer -->
    <footer class="footer">
      <%- include('../partials/footer.ejs')%>
    </footer>
  <!--  finfooter -->
</body>
</html>